@using static PasoParametrosBlazor.Client.Pages.ModalParametroCascada
<!-- ModalBootstrap.razor -->
<div class="modal fade show" tabindex="-1" style="display:block;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                @if (Indice>1)
                {
                    <button class="btn btn-primary" title="<" @onclick="Anterior"/>
                }
                <h5 class="modal-title">Valor recibido: @MostrarValor(@ValorDatoEntrada) </h5>
                @if (Indice < 3)
                {
                    <button class="btn btn-primary" @onclick="Siguiente" title=">" />
                }

                <button type="button" class="btn-close" @onclick="Cerrar"></button>
            </div>
            <div class="modal-body">

                @if (Indice == 1)
                {
                    <p>Contenido o dato: @ValorDatoEntrada?.Valor1</p>
                    <p>Indice: @Indice</p>
                    <input type="text" class="form-control" @bind=@ValorDatoModificado.Valor1 placeholder="Escribe aquí..." />
                }
                @if (Indice == 2)
                {
                    <p>Contenido o dato: @ValorDatoEntrada?.Valor2</p>
                    <p>Indice: @Indice</p>
                    <input type="text" class="form-control" @bind=@ValorDatoModificado.Valor2 placeholder="Escribe aquí..." />
                }
                @if (Indice == 3)
                {
                    <p>Contenido o dato: @ValorDatoEntrada?.Valor3</p>
                    <p>Indice: @Indice</p>
                    <input type="text" class="form-control" @bind=@ValorDatoModificado.Valor3 placeholder="Escribe aquí..." />
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="Cerrar">Cerrar</button>
                @if (Ultimo)
                {
                    <button class="btn btn-primary" disabled="@DeshabilitarBoton" @onclick ="Guardar">Final y cerrar</button>
                }
                else
                {
                    <button class="btn btn-primary" disabled="@DeshabilitarBoton" @onclick="Guardar">Guardar y seguir</button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "ValorEntrada")] public ClaseDato ValorDatoEntrada { get; set; }
    [CascadingParameter(Name = "Cerrar")] public Action OnCerrar { get; set; }
    [CascadingParameter(Name = "Guardar")] public Action OnGuardar { get; set; }
    [CascadingParameter(Name = "Avanzar")] public Action OnAvanzar { get; set; }
    [CascadingParameter(Name = "Retroceder")] public Action OnRetroceder { get; set; }
    [CascadingParameter(Name = "Indice")] public int Indice { get; set; }

    [Parameter] public EventCallback<ClaseDato> ValorEditadoChanged { get; set; }
    public bool Ultimo { get { return Indice == 3; } }

    public ClaseDato ValorDatoModificado { get; set; } = new ClaseDato();

    bool DeshabilitarBoton => ValidarValor(ValorDatoModificado,Indice);

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        ValorDatoModificado = ValorDatoEntrada;
    }

    async Task Guardar()
    {
        ValorDatoEntrada = ValorDatoModificado;
        OnGuardar?.Invoke();
        await ValorEditadoChanged.InvokeAsync(ValorDatoEntrada);
    }

    async Task Cerrar()
    {
        OnCerrar?.Invoke();
    }

    void Siguiente()
    {
        //Indice++;
        OnAvanzar?.Invoke();
        StateHasChanged();
    }
    void Anterior()
    {
        //Indice--;
        OnRetroceder?.Invoke();
        StateHasChanged();
    }

 
    private bool ValidarValor(ClaseDato dato, int indice)
    {
        switch (indice)
        {
            case 1:
                return string.IsNullOrEmpty(dato.Valor1);
            case 2:
                return string.IsNullOrEmpty(dato.Valor2);
            case 3:
                return string.IsNullOrEmpty(dato.Valor3);
            default:
                return false;
        }
    }

    private string MostrarValor(ClaseDato dato)
    {
        return "1:"+dato.Valor1 + " 2:" + dato.Valor2 + " 3:" + dato.Valor3;
    }
}
