@rendermode InteractiveServer
@using DataBase.Genericos
@inject ITenantProvider Tenant
@inject IContextKeyProvider Context

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">New Tenant</a>
    </div>
    <p>
       
        <select @onchange="OnTenantChanged">
            @foreach (var tenant in Tenant.GetTenants())
            {
                <option value="@tenant" selected="@(tenant == TenantId)">@tenant</option>
            }
        </select>
    </p>
</div>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NewContext</a>
    </div>
    <p>
   
        <select @onchange="OnContextKeyChanged">
            @foreach (var context in Context.GetContextKeyDb())
            {
                <option yvalue="@context" selected="@(context == ContextKey)">@context</option>
            }
        </select>
    </p>
</div>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Modo Conexion API</a>
    </div>
    <p>

        <select @onchange="OnContextApiKeyChanged">
            @foreach (var apiName in Context.GetApiNames())
            {
                <option value="@apiName" selected="@(apiName == ApiName)">@apiName</option>                            
            }
        </select>
    </p>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DetalleUsuario">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Añadir
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

         @if (!ContextKey.StartsWith("Api"))
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaUsuarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaUsuariosMultipleContext">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista MultipleContext
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaUsuariosMultipleTenant">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista MultipleTenant
            </NavLink>
        </div>
        }

        @if (ContextKey.StartsWith("Api"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ListaUsuariosApi">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista Api
            </NavLink>
        </div>
        }
    </nav>
</div>
@code{
    int TenantId;
    string ContextKey;
    string ApiName;

    private async Task OnTenantChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int newTenantId))
        {
            TenantId = newTenantId;
            Tenant.SetTenant(newTenantId);
        }
    }

    private async Task OnContextKeyChanged(ChangeEventArgs e)
    {
        Context.SetContext(e.Value.ToString(),Context.ApiName);
        ContextKey = e.Value.ToString();   
    }

    private async Task OnContextApiKeyChanged(ChangeEventArgs e)
    {
        Context.SetContext(Context.CurrentContextKey,e.Value.ToString());
        ApiName = e.Value.ToString();

    }


    protected override async Task OnInitializedAsync()
    {
        TenantId = Tenant.CurrentTenantId ?? 0;
        ContextKey = Context.CurrentContextKey ?? "InMemory";
        ApiName = Context.ApiName ?? "Ef";
    }
    }
    
