@rendermode InteractiveServer
@using DataBase.Genericos
@using Microsoft.AspNetCore.Components.Forms
@inject ITenantProvider Tenant
@inject IContextKeyDbProvider Context

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">New Tenant</a>
    </div>
    <p>
       
        <select @onchange="OnTenantChanged">
            @foreach (var tenant in Tenant.GetTenants())
            {
                <option value="@tenant" selected="@(tenant == TenantId)">@tenant</option>
            }
        </select>
    </p>
</div>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NewContext</a>
    </div>
    <p>
   
        <select @onchange="OnContextKeyChanged">
            @foreach (var context in Context.GetContextKeDb())
            {
                <option  value="@context"  selected="@(context == ContextKey)">@context</option>
            }
        </select>
    </p>
</div>

<h3>Selecciona el origen de datos:</h3>
<InputRadioGroup @bind-Value="DataSource">
    @foreach (var option in Options)
    {
        <div>
            <InputRadio Value="@option" />
            <label style="color:white">@option</label>
        </div>
    }
</InputRadioGroup>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DetalleUsuario">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Añadir
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

         @if (!DataSource.StartsWith("Api"))
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaUsuarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaUsuariosMultipleContext">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista MultipleContext
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaUsuariosMultipleTenant">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista MultipleTenant
            </NavLink>
        </div>
        }

        @if (DataSource.StartsWith("Api"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ListaUsuariosApi">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista Api
            </NavLink>
        </div>
        }
    </nav>
</div>
@code{
    int TenantId;
    string ContextKey;
    string ApiContextKey;

    private string[] Options = new[] { "Api", "Ef" };
    private string dataSource;
    public string DataSource
    {
        get => dataSource;
        set
        {
            if (dataSource != value)
            {
                dataSource = value;
                OnContextApiKeyChanged(value);
            }
        }
    }

    private async Task OnTenantChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int newTenantId))
        {
            Tenant.SetTenant(newTenantId);
        }
      
    }

    private async Task OnContextKeyChanged(ChangeEventArgs e)
    {
        Context.SetContextDbKey(e.Value.ToString(),DataSource=="Api");
        ContextKey = e.Value.ToString();

    }

    private async Task OnContextApiKeyChanged(string value)
    {
        
        Context.SetContextDbKey(ContextKey,value=="Api");
        DataSource = value;

    }


    protected override async Task OnInitializedAsync()
    {
        TenantId = Tenant.CurrentTenantId ?? 0;
        ContextKey = Context.CurrentContextKey ?? "SqlServer";
        DataSource = "Ef";
    }
    }
    
