@rendermode InteractiveServer
@using DataBase.Genericos
@inject IContextProvider ContextProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" />
    <select class="form-select" @bind="TenantId">

        @foreach (var opcion in ContextProvider.GetTenantIds())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>
    <select class="form-select" @bind="ContextKey">

        @foreach (var opcion in ContextProvider.GetContextKeyDbs())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>

    <select class="form-select" @bind="Mode">

        @foreach (var opcion in ContextProvider.GetConnectionModes())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>
    @if (Mode!="Ef")
    {
    <select class="form-select" @bind="ApiName">

        @foreach (var opcion in ContextProvider.GetApiNames())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>
    }
 
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<button class="btn btn-primary" @onclick="Actualizar">
    Actualizar
</button>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item ">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @foreach (var item in GetVisibleItems())
        {
             <div class="nav-item ">
                <NavLink class="nav-link" href="@item.Url">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @item.Text
                </NavLink>
            </div>
        }

       
        
    </nav>
    
</div>
@code{
    int TenantId = 0;
    string ContextKey = "SqLite";
    string ApiName = "ApiRest";
    string Mode = "Ef";
    private bool IsClient => OperatingSystem.IsBrowser();
    private bool IsServer => !OperatingSystem.IsBrowser();


    private async Task Actualizar()
    {
        ContextProvider.SetContext(TenantId,ContextKey,ApiName,ContextProvider.DirBase,Mode);
         
    }

    public enum MenuTarget
    {
        Server,
        Client,
        Both
    }
    public record MenuItem(string Text, string Url, MenuTarget Target);
    private static readonly List<MenuItem> Items =
    [
  
        new("Lista  Context/Tenant (server)", "/ListaUsuarios", MenuTarget.Both),
        new("Lista  Fijo-Api (server)", "/ListaUsuariosApi", MenuTarget.Server),
        new("Lista  Multiple Context (server)", "/ListaUsuariosMultipleContext", MenuTarget.Server),
         new("Lista Multiple Tenant (server)", "/ListaUsuariosMultipleTenant", MenuTarget.Server),
         new("Detalle (server)", "/DetalleUsuario", MenuTarget.Server),
         new("Delete (server)", "/DeleteUsuario", MenuTarget.Server),
         new("Weather (server)", "/Weather", MenuTarget.Server),
        new("Lista  Fijos WASM", "/ListaUsuariosCliente", MenuTarget.Both),
        new("Delete WASM", "/DeleteUsuarioCliente", MenuTarget.Server),
        new("Detalle WASM", "/DetalleUsuarioCliente", MenuTarget.Server),
        new("Counter WASM", "/Counter", MenuTarget.Server)
    ];

    private IEnumerable<MenuItem> GetVisibleItems()
    {
        if (IsClient)
            return Items.Where(i => i.Target is MenuTarget.Client or MenuTarget.Both);

        return Items.Where(i => i.Target is MenuTarget.Server or MenuTarget.Both);
    }

    }
    
