@rendermode InteractiveServer
@using DataBase.Genericos
@inject IContextProvider ContextProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" />
    <select class="form-select" @bind="TenantId">

        @foreach (var opcion in ContextProvider.GetTenantIds())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>
    <select class="form-select" @bind="ContextKey">

        @foreach (var opcion in ContextProvider.GetContextKeyDbs())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>
    <select class="form-select" @bind="ApiName">

        @foreach (var opcion in ContextProvider.GetApiNames())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>
    <select class="form-select" @bind="Mode">

        @foreach (var opcion in ContextProvider.GetConnectionModes())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>
 
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<button class="btn btn-primary" @onclick="Actualizar">
    Actualizar
</button>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item ">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="DetalleUsuario">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Añadir
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

  
        <div class="nav-item ">
            <NavLink class="nav-link" href="ListaUsuarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista
            </NavLink>
        </div>
        <div class="nav-item ">
            <NavLink class="nav-link" href="ListaUsuariosApi">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ListaApi
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="ListaUsuariosMultipleContext">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista MultipleContext
            </NavLink>
        </div>
        <div class="nav-item ">
            <NavLink class="nav-link" href="ListaUsuariosMultipleTenant">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista MultipleTenant
            </NavLink>
        </div>
        

            <div class="nav-item ">
                <NavLink class="nav-link" href="ListaUsuariosCliente">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista Cliente
            </NavLink>
        </div>
        <div class="nav-item ">
            <NavLink class="nav-link" href="Counter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Counter Cliente
            </NavLink>
        </div>
        
    </nav>
    
</div>
@code{
    int TenantId = 0;
    string ContextKey = "SqLite";
    string ApiName = "ApiRest";
    string Mode = "Ef";


    private async Task Actualizar()
    {
        ContextProvider.SetContext(TenantId,ContextKey,ApiName,ContextProvider.DirBase,Mode);
         
    }

    }
    
