@page "/DetalleUsuario"
@page "/DetalleUsuario/{Id:int}"    //esta página se puede acceder tambien en modo de edición
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using DataBase.Genericos
@using DataBase.Modelo
@using DataBase.Servicios
@inject IUnitOfWorkFactory UnitOfWorkFactory 
@inject IContextKeyProvider ContextKeyProvider
@inject ITenantProvider TenantProvider
@inject NavigationManager nav
@implements IDisposable


<h3>DetalleUsuario</h3>
<p>Usuarios del tenant <strong>@TenantProvider.CurrentTenantId</strong>:</p>
<p>Usuarios del contexto <strong>@ContextKeyProvider.CurrentContextKey</strong>:</p>

<div class="container">
    @if (NewUser != null)
    {
        <EditForm Model="@NewUser" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" FormName="DetalleUsuarioForm">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-md-8">
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12">
                            <label for="Codigo">Codigo #</label>
                            <input type="text" class="form-control" id="Codigo" @bind-value="NewUser.Codigo" placeholder="enter codigo ..." />
                            <ValidationMessage For="@(() => NewUser.Codigo)" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12">
                            <label for="UserName">UsertName #</label>
                            <input type="text" class="form-control" id="UserName" @bind-value="NewUser.UserName" placeholder="enter UserName ..." />
                            <ValidationMessage For="@(() => NewUser.UserName)" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12">
                            <label for="NivelAcceso">NivelAcceso #</label>
                            <input type="text" class="form-control" id="NivelAcceso" @bind-value="NewUser.Contexto" placeholder="enter NivelAcceso ..." />
                            <ValidationMessage For="@(() => NewUser.Contexto)" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12">
                            <label for="Password">Password #</label>
                            <input type="text" class="form-control" id="Password" @bind-value="NewUser.Password" placeholder="enter Password ..." />
                            <ValidationMessage For="@(() => NewUser.Password)" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12">
                            <label for="email">email #</label>
                            <input type="text" class="form-control" id="email" @bind-value="NewUser.email" placeholder="enter email ..." />
                            <ValidationMessage For="@(() => NewUser.email)" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12">
                            <label for="email">Tenant #</label>
                            <input type="text" class="form-control" id="tenant" @bind-value="NewUser.TenantId" placeholder="enter tenant ..." />
                            <ValidationMessage For="@(() => NewUser.TenantId)" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info" style="margin-top:10px">Save</button>
                    <button type="button" class="btn btn-secondary" @onclick="Cancel" style="margin-top:10px">Cancel</button>
                </div>
                @if (displayValidationErrorMessages)
                {
                    <div class="col-md-4" style="margin-top:10px">
                        <label>Validation Messages: </label>
                        <ValidationSummary />
                    </div>
                }
            </div>
    </EditForm>
    }

</div>


@code {

    [Parameter]
    public int Id { get; set; }

    private Usuario NewUser = new Usuario();


    private Func<Task>? _onTenantChangedHandler;
    private Func<Task>? _onContextKeyChangedHandler;

    bool displayValidationErrorMessages = false;
    bool displayUserAddedToDB = false;


    protected override async Task OnInitializedAsync()
    {

    
        _onTenantChangedHandler += async () =>
       {
           await CargarAsync();           
           StateHasChanged();
       };

        _onContextKeyChangedHandler += async () =>
        {
            await CargarAsync();     
            StateHasChanged();
        };

        TenantProvider.OnTenantChanged += _onTenantChangedHandler;
        ContextKeyProvider.OnContextKeyChanged += _onTenantChangedHandler;

        NewUser.TenantId = TenantProvider.CurrentTenantId ?? 0;
        await CargarAsync();
    }


    private async Task HandleValidSubmit(EditContext context)
    {
        displayValidationErrorMessages = false;
        displayUserAddedToDB = true;
        var servicioUsuario = new ServicioUsuarios(ContextKeyProvider, UnitOfWorkFactory, TenantProvider);
        if (Id != 0)
            servicioUsuario.UpdateAsync(NewUser);
        else
            servicioUsuario.AddAsync(NewUser);
     
        nav.NavigateTo("/ListaUsuarios");
    }


    private void HandleInvalidSubmit(EditContext context)
    {
        displayValidationErrorMessages = true;
        displayUserAddedToDB = false;
        //  nav.NavigateTo("/ListaUsuarios");
    }




    private async Task CargarAsync()
    {
 
        try
        {
            if (Id != 0)
            {
                var servicioUsuario = new ServicioUsuarios(ContextKeyProvider, UnitOfWorkFactory, TenantProvider);
                NewUser = await servicioUsuario.GetByIdAsync(Id);
            }
            else 
            {

            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("EX: " + ex.GetType().FullName);
            Console.WriteLine(ex.ToString());
            Console.WriteLine("INNER: " + ex.InnerException?.GetType().FullName);
            Console.WriteLine(ex.InnerException?.ToString());
            throw;
        }
    }

    protected void Cancel()
    {
        nav.NavigateTo("/ListaUsuarios");
    }

    void IDisposable.Dispose()
    {
        Dispose();
    }
    private void Dispose()
    {
        TenantProvider.OnTenantChanged -= _onTenantChangedHandler;
        ContextKeyProvider.OnContextKeyChanged -= _onContextKeyChangedHandler;

    }
}

