@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))


@using BlazorAppEFTenant.Components.Layout
@using DataBase
@using DataBase.Genericos
@using DataBase.Modelo
@using DataBase.Servicios
@using System.Security.Claims
@inject IUnitOfWorkFactory UowFactory
@inject IContextProvider ContextProvider
@inject ITokenService TokenService

@inject NavigationManager nav

<MyAuthorizeView>
    <NotAuthorized>
        <h3>Login para obtener token JWT </h3>

        </NotAuthorized>
    <Authorized>    
        @if (seguridad != null)
        {
            <p>Toquen:@ContextProvider?.Token </p>
            <p>Nombre: @seguridad.UserName</p>
            <p>Password: @seguridad.Password</p>
            <p>TenantId: @seguridad.TenantId</p>
            <p>Email: @seguridad.Email</p>
            <p>Roles:  @seguridad.Roles</p>
        }
        </Authorized>

</MyAuthorizeView>





@code {
    string username = "";
    string password = "";
    string token = "";
    string tokenCookie = "";

    string protectedApiResponse = "";
    string protectedApiResponseCookie = "";

    Seguridad seguridad = null;
    bool _initialized = false;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            await ContextProvider.ReadContext();
            seguridad = ServicioSeguridad.GetDataFromToken(ContextProvider.Token);
            _initialized = true;
            StateHasChanged();
        }
    }



}

