@page "/ListaUsuariosMultipleContext"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using DataBase.Genericos
@using DataBase.Modelo
@using DataBase.Servicios
@inject IUnitOfWorkFactory UnitOfWorkFactory 

@inject IContextProvider ContextProvider
@inject NavigationManager nav
@implements IDisposable


<h3>Listado de usuarios (Genérico)</h3>

<p>TenantId <strong>@ContextProvider.TenantId</strong>:</p>
<p>ContextKeDb <strong>@ContextProvider.DbKey</strong>:</p>
<p>ApiName <strong>@ContextProvider.ApiName</strong>:</p>


@if (usuarios is null)
{
    <p><em>Cargando...</em></p>
}
else if (!usuarios.Any())
{
    <p>No hay usuarios registrados .....</p>
}
else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>Codigo</th>
                    <th>Nivel</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Tenant</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in usuarios)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Codigo</td>
                        <td>@user.Contexto</td>
                        <td>@user.Password</td>
                        <td>@user.email</td>
                        <td>@user.TenantId</td>
                        <td><a href="DetalleUsuario/@user.Id"><i>Edit</i></a></td>
                        <td><a href="DeteteUsuario/@user.Id"><i>Del</i></a></td>
                    </tr>
                }
            </tbody>
        </table>

}


@code {
    public List<Usuario>? usuarios { get; set; } = new List<Usuario>();


 
    private Func<Task>? _onContextChangedHandler;

    protected override async Task OnInitializedAsync()
    {


        _onContextChangedHandler += async () =>
       {
           usuarios.Clear();
           await CargarAsync();
           StateHasChanged();
       };


        ContextProvider.OnContextChanged +=  _onContextChangedHandler;

        await CargarAsync();
    }

    private async Task CargarAsync()
    {
        var cp = new ContextProvider();
        try
        {
            foreach (var contextKey in ContextProvider.GetContextKeyDbs())
            {
                cp.SetContext(ContextProvider.TenantId,contextKey, ContextProvider.ApiName,ContextProvider.DirBase,ContextProvider.ConnectionMode);
                var user = new ServicioUsuarios(cp, UnitOfWorkFactory);
                var list = await user.GetAllAsync();
                usuarios.AddRange(list);
 
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("EX: " + ex.GetType().FullName);
            Console.WriteLine(ex.ToString());
            Console.WriteLine("INNER: " + ex.InnerException?.GetType().FullName);
            Console.WriteLine(ex.InnerException?.ToString());
            throw;
        }
    }
    void IDisposable.Dispose()
    {
        Dispose();
    }

    private void Dispose()
    {
        ContextProvider.OnContextChanged -= _onContextChangedHandler;


    }
}

