@* @implements IDisposable *@
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@using Shares.Seguridad
@inject IContextProvider ContextProvider
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@inject IHttpContextAccessor HttpContextAccessor
@rendermode @(new InteractiveServerRenderMode(prerender: false))



@functions {
    string GetAntiforgeryToken()
    {
        var http = HttpContextAccessor.HttpContext!;
        var tokens = Antiforgery.GetAndStoreTokens(http);
        return tokens.RequestToken!;
    }
}
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorSeguridad2026</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<!-- Menú de administración solo autorizados-->

<AuthorizeView >
    <Authorized>
<div class="nav-item px-3">
    
    
    <div class="nav-link" @onclick="ToggleAdminMenu">
        <span class="oi oi-lock-locked" aria-hidden="true"></span>
        Administración
    </div>

    @if (adminMenuExpanded)
    {
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="/seguridad/users">
                <span class="oi oi-people" aria-hidden="true"></span>
                Usuarios
            </NavLink>

            <NavLink class="nav-link" href="roles">
                <span class="oi oi-key" aria-hidden="true"></span>
                Roles
            </NavLink>
 
                    <div class="d-flex flex-column gap-2">
                        <div class="d-flex align-items-center gap-2">
                            <select class="form-select form-select-sm w-auto" @bind="SelectedDbKey">
                                @foreach (var opcion in ContextProvider.GetContextDbKeys())
                                {
                                    <option value="@opcion">@opcion</option>
                                }
                            </select>

                            <select class="form-select form-select-sm w-auto" @bind="SelectedTenantId">
                                @foreach (var opcion in ContextProvider.GetTenantIds())
                                {
                                    <option value="@opcion">@opcion</option>
                                }
                            </select>
                        </div>

                        <div>
                            <button type="button"
                                    class="btn btn-primary btn-sm"
                                    @onclick="Actualizar">
                                Actualizar
                            </button>
                        </div>
                    </div>


         </div>
     }
</div>
    </Authorized>
</AuthorizeView>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaUsuarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista Usuarios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaUsuariosCliente">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista U(Api)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">                    
                 
                        <NavLink class="nav-link" href="Logout">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </NavLink>
                
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>



@code {
    private string? currentUrl;
    private bool adminMenuExpanded = false;
    int TenantId = 0;

    private void ToggleAdminMenu()
        => adminMenuExpanded = !adminMenuExpanded;

    private int SelectedTenantId;
    private string SelectedDbKey;


    private async Task Actualizar()
    {
        ContextProvider._AppState.TenantId = SelectedTenantId;
        ContextProvider._AppState.DbKey = SelectedDbKey;
        await ContextProvider.SaveAllContextAsync(ContextProvider);
        // Opcional: recargar toda la página
        // NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ContextProvider.ReadAllContext();
            SelectedTenantId = ContextProvider._AppState.TenantId ?? 0;
            SelectedDbKey = ContextProvider._AppState.DbKey;
        }

    }

    

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        // NavigationManager.LocationChanged += OnLocationChanged;
        SelectedTenantId = ContextProvider._AppState.TenantId ?? 0;
        SelectedDbKey = ContextProvider._AppState.DbKey ?? "InMemory";
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        // currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        // StateHasChanged();
    }

    // public void Dispose()
    // {
    //     NavigationManager.LocationChanged -= OnLocationChanged;
    // }
}

