@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using DataBase.Genericos
@inject IContextProvider ContextProvider

<div class="top-row navbar navbar-dark w-25">
    <div class="container-fluid" />
    <select class="form-select" style="min-width: 200px;" @bind="TenantId">

        @foreach (var opcion in ContextProvider.GetTenantIds())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>
    <select class="form-select" style="min-width: 200px;" @bind="ContextKey">

        @foreach (var opcion in ContextProvider.GetContextKeyDbs())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>

    <select class="form-select" style="min-width: 200px;" @bind="Mode">

        @foreach (var opcion in ContextProvider.GetConnectionModes())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>
    @if (Mode!="Ef")
    {
        <select class="form-select" style="min-width: 200px;" @bind="ApiName">

        @foreach (var opcion in ContextProvider.GetApiNames())
        {
            <option value="@opcion">@opcion</option>
        }
    </select>
    }
 
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<button class="btn btn-primary" @onclick="Actualizar">
    Actualizar
</button>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item ">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @foreach (var item in GetVisibleItems())
        {
             <div class="nav-item ">
                <NavLink class="nav-link" href="@item.Url">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @item.Text
                </NavLink>
            </div>
        }

       
        
    </nav>
    
</div>
@code {
    int TenantId = 0;
    string ContextKey = "SqLite";
    string ApiName = "ApiRest";
    string Mode = "Ef";
    private bool IsClient => OperatingSystem.IsBrowser();
    private bool IsServer => !OperatingSystem.IsBrowser();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await CargarAsync();
    }

    private async Task CargarAsync()
    {
        try
        {
            await ContextProvider.ReadContext();
            TenantId = ContextProvider?.TenantId ?? 0;
            ContextKey = ContextProvider?.DbKey ?? "SqLite";
            ApiName = ContextProvider?.ApiName ?? "ApiRest";
            Mode = ContextProvider?.ConnectionMode ?? "Ef";

        }
        catch (Exception ex)
        {
            Console.WriteLine("EX: " + ex.GetType().FullName);
            Console.WriteLine(ex.ToString());
            Console.WriteLine("INNER: " + ex.InnerException?.GetType().FullName);
            Console.WriteLine(ex.InnerException?.ToString());
            throw;
        }
    }

    private async Task Actualizar()
    {
        var Token = ContextProvider.Token;
        ContextProvider.SetContext(TenantId, ContextKey, ApiName, ContextProvider.DirBase, Mode, Token);
        ContextProvider.SaveContext(TenantId, ContextKey, ApiName, ContextProvider.DirBase, Mode, Token);

    }

    public enum MenuTarget
    {
        Server,
        Client,
        Both
    }
    public record MenuItem(string Text, string Url, MenuTarget Target);
    private static readonly List<MenuItem> Items =
    [

        new("Lista  Context/Tenant (server)", "/ListaUsuarios", MenuTarget.Both),
        new("Lista  Fijo-Api (server)", "/ListaUsuariosApi", MenuTarget.Server),
        new("Lista  Multiple Context (server)", "/ListaUsuariosMultipleContext", MenuTarget.Server),
         new("Lista Multiple Tenant (server)", "/ListaUsuariosMultipleTenant", MenuTarget.Server),
         new("Detalle (server)", "/DetalleUsuario", MenuTarget.Server),
         new("Delete (server)", "/DeleteUsuario", MenuTarget.Server),
         new("Weather (server)", "/Weather", MenuTarget.Server),
        new("Lista  Fijos WASM", "/ListaUsuariosCliente", MenuTarget.Both),
        new("Delete WASM", "/DeleteUsuarioCliente", MenuTarget.Server),
        new("Detalle WASM", "/DetalleUsuarioCliente", MenuTarget.Server),
        new("Counter WASM", "/Counter", MenuTarget.Server)
    ];

    private IEnumerable<MenuItem> GetVisibleItems()
    {
        if (IsClient)
            return Items.Where(i => i.Target is MenuTarget.Client or MenuTarget.Both);

        return Items.Where(i => i.Target is MenuTarget.Server or MenuTarget.Both);
    }

}

